.body{
	margin: 0px; 
	background-image: url('../Images/green-background.jpg')
}

.externDiv{
	width: 86%;	
	height: 100%;
	left: 50%;
	position: absolute;
	margin-left: -43%;
	top : 20px;

}

.headerDiv{
	height: 100px;
	width: 100%;
	background-color : white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 3px solid green;
	border-top: 5px solid green;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.layout{
	line-height: 100px;
	font-size: 50px;
	margin-left: 10px;
	font-family: Ailerons-Typeface;
	float: left;
	color : green;
}

.navDiv{
	width: 300px; 

	height: 100px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	

}

.borderRight{
	border-right: 1px solid #ccc;
}

.firstNav{
	margin:0;
    padding:0;
    font-size: 0px;
    height: 100px; 	
}

.firstNav ul{
	height: 100%;
	margin: 0;
    vertical-align: middle;
    line-height: 100px;
    list-style-type: none;
    padding: 0;
}

.firstNav ul li{
	display: inline-block;	
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
}

.firstNav ul li:hover{
	display: inline-block;	
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
	background-color: #ddd;
}

.firstNav ul li a{
	height: 100%;
	margin-left: 0px;
	color: green;
	display: block;
	font-family:arial; 
	text-transform: uppercase; 
	padding: 0px 18px 9px; 
	text-decoration: none;
	font-size: 20px;	
	font-family: AllerDisplay;
}



.contactsDiv{
	float: right;
	width: 180px;
	height: 100px;
}


.infoFactory{
	position: relative; 
	margin-top: 15px ;
	height: 24px; 
}

.imageContact{
	float :left;

}

.infoSpan{
	line-height: 24px; 
	margin-left : 5px;
	font-family: Lobster;
	color : green;

}

.infoSpan:hover{
	cursor: pointer;
}

.content{
	width: 100%;
	height: 1000px ;
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.firstLi{
	border-right : 1px solid green;
	border-left :1px solid green;
}

.slides{
	width : 65%;
	height : 500px;	
	position : absolute;
	border-radius : 5px;

}

.squares{
	width : 90%;
	position: relative;
	height: 300px;
	background-color:;
	top: 50px;
	left: 50%;
	margin-left: -45%;

		
}

.divleft{
	float:left;
	width: 30%;
	height: 70%;
	
}

.box{
	border: 1px solid #808080;
	border-radius: 2px ;
	background-color: black ;
}

.allBoxes{
	width: 100%;
	height: 80%; 	
}

.boxLeft{
	background:url(/Monet/assets/images/money.png) no-repeat center center;
}

.lastBox{
	background:url(/Monet/assets/images/map.png) no-repeat center center;
}

.secondDivInsideBox{
	position: relative;
	background-color: white;
	height: 20% !important;
	text-align: center;
}

.propagandaSpan{
	height: 20px;
	top: 50%;
	margin-top: -10px;
	display: inline-block; 
	position: absolute;
	font-family: OsvaldBold;
	font-size: 15px;
	left: 0;
    width: 100%;
    color : #337ab7;
}

.divright{
	position: relative;
	height: 70%;	
	width: 30%;
	margin-left: 70%;	
}

.boxMidRight{
	 background:url(/Monet/assets/images/map.png) no-repeat center center;
}

.midDiv{
	width: 30%;
	height: 70%;
	margin-left: 5%;
	float:left;
}

.clients{
	width: 30%;
	float: right;
	height: 500px;
	background-color: ;
	text-align: center;
	border : 1px solid #eee;
	border-radius: 5px;
}

.block-title{
	line-height: 22px;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

.feedback p{
	font-size: 15px;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    font-weight: bold;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.feedback blockquote{
	font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: italic;
}

.secondLine{
	position: absolute;
	width: 90%;
	height: 500px;
	left: 50%;
	margin-left: -45%;

}

@font-face {
	font-family: Ailerons-Typeface;
	src: url("../Fonts/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
	font-family:AllerDisplay;
	src: url("../Fonts/AllerDisplay.ttf") format("opentype");
}

@font-face {
	font-family: Lobster;
	src: url("../Fonts/Lobster_1.3.otf") format("opentype");
}

@font-face {
	font-family: OsvaldBold;
	src: url("../Fonts/Oswald-Bold.otf") format("opentype");
}


body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
  padding-top:70px;
}

/*
	Slider library
*/
#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../Images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

