.body{
	margin: 0px; 
	
}

.marginLeftProducts{
	margin-left: 2px !important;
}

.externDiv{
	width: 100%;	
	height: 100%;	position: absolute;
}

.headerDiv{
	height: 70px;
	width: 100%;
	background-color: #3c3b3b;
}

.layout{
	line-height: 70px;
	font-size: 50px;
	margin-left: 3%;
	font-family: Ailerons-Typeface;
	float: left;
	color : white;
}

.navDiv{
	width: auto; 
	height: 70px;
	left: 40%;
	margin-left: -150px;
	position: absolute;
}

.borderRight{
	box-shadow: 2px 0px 0px #ccc;

}

.paddingHeader{
	padding: 9px;
}

.firstNav{
	margin:0;
    padding:0;
    font-size: 0px;
    height: 70px; 	
}


.firstNav ul{
	height: 100%;
	margin: 0;
    vertical-align: middle;
    line-height: 70px;
    list-style-type: none;
    padding: 0;
}

.firstNav ul li{
	display: inline-block;	
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
}

.firstNav ul li:hover{
	display: inline-block;	
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 100%;
	background-color: #ddd;
}

.firstNav ul li a{
	
	margin-left: 0px;
	color: white;
	display: block;
	font-family:arial; 
	text-transform: uppercase; 
	text-decoration: none;
	font-size: 20px;	
	font-family: AllerDisplay;
}


.firstNav ul li a:hover{
	color: #57cfe5;
}

.contactsDiv{
	float: right;
	width: 250px;
	height: 70px;
}


.infoFactory{
	position: relative; 
	margin-top: 23px ;
	height: 24px; 
}

.imageContact{
	float :left;

}

.infoSpan{
	line-height: 24px; 
	margin-left : 5px;
	font-family: Lobster;
	color : white;

}

.infoSpan:hover{
	cursor: pointer;
}

.content{
	width: 100%;
	height: 200px ;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
}

.firstLi{
	border-right : 1px solid green;
	border-left :1px solid green;
}

.about{
	width : 100%;
	height : 370px;	
	position : absolute;
	border : 2px solid #3b3b3a;

}

.imagesProfiles{
	margin-top: 18px;

}

.about h2{

    font-family: 'Open Sans';
    color: white;
    line-height: 24px;
    display: inline;
    font-weight: bold;
    margin: 0; 
    text-shadow:;

}


.baloonIcon{
	position: absolute;
	top: 18px;
	right: 15px;
}

.images article{
	padding-top: 30px;
	position: absolute; 
	top: 70px;
}

.slides{
	width: 99.8%;
	position: absolute;
	left : 0.1%;
	height: 360px;
}

.aboutDescript{
	width: 40%;
	padding: 45px;
	font-size: 100%;
    font-weight: bold;
    color: white;
   
    /* margin: 0; */
    font-family: 'Open Sans', sans-serif;
	text-align: justify;
	text-shadow: 1px 1px black;
}

.images{
	height: 400px; 
	width: 100%; 
	background: url(../Images/aguas.jpg);
	background-size : 100%;
	opacity: 0.5;

}

article h1{
	padding: 0px 45px;
 	font-size: 34px;
 	font-family: OsvaldBold;
 	color : white;
 	text-shadow: 2px 2px black;

}

.squares{
	width : 70%;
	position: relative;
	height: 200px;
	background-color:;
	margin-top: 50px;
	left: 50%;
	margin-left: -35%;

		
}

.divleft{
	float:left;
	width: 30%;
	
}

.box{
	border: 2px solid #dadada;
	font-size: 80%;
	height: 75%; 
	
}

.allBoxes{
	width: 100%;
	font-size: 30px;
	height: 65%;
	margin-top: 5%;
}

.boxLeft{
	background:url(/Monet/assets/images/money.png) no-repeat center center;
}

.lastBox{
	background:url(/Monet/assets/images/map.png) no-repeat center center;
}

.secondDivInsideBox{
	position: relative;
	height: 20% !important;
	text-align: center;
}

.allBoxes span{
    text-align: justify;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    font-style: italic;
	
}

.propagandaSpan{
	height: 20px;
	top: 50%;
	margin-top: -10px;
	display: inline-block; 
	position: absolute;
	font-family:'Open Sans';
	font-size: 150%;
	left: 0;
    width: 100%;
    color : black;
    text-shadow : 1px 1px #ccc;
    line-height: 24px;
    display: inline;
    font-weight: bold;
}

.divright{
	position: relative;
	width: 30%;
	margin-left: 70%;	
}

.boxMidRight{
	 background:url(/Monet/assets/images/map.png) no-repeat center center;
}

.midDiv{
	width: 30%;
	margin-left: 5%;
	float:left;
}

.clients{
	width: 30%;
	float: right;
	height: 500px;
	text-align: center;
	border-radius: 5px;
}

.block-title{
	line-height: 22px;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

.feedback p{
	font-size: 15px;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    font-weight: bold;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.feedback blockquote{
	font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 5px;
    font-weight: 300;
    font-style: italic;
    position: relative;	
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ccc;
}

.feedback blockquote:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #ccc transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 50%;
}

.secondLine{
	position: relative;
	width: 70%;
	height: 500px;
	left: 50%;
	margin-left: -35%;

}

.contact{
	width: 30%;
	height: 270px;
	position: absolute;
	margin-left: 30%;
	color : white;
	font-size: 18px;
}

.contact ul{
	padding: 0;
	margin-bottom: 0px;
}

.contact li{
	 list-style: none; 
	 margin:0;
	 vertical-align: middle;
}

.contact li span{
	 margin-left: 10px;
}

.eachContact{
	height: 24px;
	margin-top: 10px;
}

.eachContact span{
	position: absolute;
	line-height: 24px;
	margin-left: 10px;
	font-size: 14px;
}

.local{
	width: 40%;
    height: 270px;
    position: absolute;
    color: white;
    font-size: 18px;
    right : 0;
}

.firstFooter{
	width: 25%;
	float: left;
	height: 200px;
	position: absolute;
    top: 70px;

}

.firstFooter span{
	font-size: 14px;
	color : white;
	 text-align: justify;
}

.allFooter{
	width: 70%;
	left: 50%;
	margin-left: -35%;
	position: absolute;
	margin-top: 30px;

}

footer{
	height: 300px;
	background: #3b3b3a;
	width: 100%;
}

@font-face {
	font-family: Ailerons-Typeface;
	src: url("../Fonts/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
	font-family:AllerDisplay;
	src: url("../Fonts/AllerDisplay.ttf") format("opentype");
}

@font-face {
	font-family: Lobster;
	src: url("../Fonts/Lobster_1.3.otf") format("opentype");
}

@font-face {
	font-family: OsvaldBold;
	src: url("../Fonts/Oswald-Bold.otf") format("opentype");
}


body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
}

/*
	Slider library
*/
#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../Images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

.triangle-border.left {
    margin-left: 30px;
}
.triangle-border {
    position: relative;
    padding: 15px;
    border: 3px solid #3b3b3a;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
    width: 80%;
}

.triangle-border.left:before {
    top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent #3b3b3a;
}

.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #3b3b3a transparent;
    display: block;
    width: 0;
}

.triangle-border.left:after {
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}